
<!DOCTYPE html>
<html>
    <head>
        <title>All My Customers</title>

        <style>

        </style>
    </head>
    <body>
        <div id="header-row" style="position:relative;">
            <div>
                <h1 id="my-customer" style="margin: 10px 0px 5px 20px;">All {{session['shopname']}}'s Customers</h1>
                <h4 style="margin: 0px 0px 10px 20px;">Welcome, {{session['shopname']}}</h4>
            </div>

            {% for name, info in customer_info.items() %}
            <div class="cust_info">{{name}} {{}} </div>

            {% endfor %}
    



        
            </div>
        </div>
    </body>
</html>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("acc-dropdown");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }
    
    document.getElementById("return-to-customer").addEventListener("click", function() {
        window.location.href = "/customer";
    });
    
    </script>